@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply transition-opacity duration-300;
  }

  img[loading="lazy"] {
    opacity: 0;
  }

  img[loading="lazy"].loaded {
    opacity: 1;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    scroll-behavior: smooth;
  }
}
